#mc-container-search {
    height: 0;
    overflow: hidden;
    position: relative;

    padding: 0 10px;
    
    background: #5A6B7B;
    @include box-shadow(0 5px 5px rgba(0,0,0,0.15) inset);
    
    @include transition(height 250ms ease-in-out);
    
    input {
        font-family: $sans-stack;
        font-size: 16px;
    }
    
    input[type=search] {
        -webkit-appearance: none;
        
        width: 100%;
        height: 42px;
        margin-top: 10px;
        
        border: 1px solid #ccc;
        @include border-radius();
    }
    
    input[type=submit] {
        -webkit-appearance: none;
        
        position: absolute;
        top: 10px;
        right: 8px;
        
        height: 42px;
                    
        @include border-radius(0 4px 4px 0);
        border: 1px solid #999;
        
        background: #ccc;
        
        color: #333;
    }
    
    .search-open & {
        height: 62px;
    }
}