#mc-container-summary {

    margin: 0 10px;
    
    .cause-indicator {
        position: relative;
        height: 118px;
        margin: -1px -10px 21px;
        
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-bluetexture@2x.png) repeat;
        background-size: auto 118px, 32px auto;
        
        span {
            position: absolute;
            top: 40px;
            left: 50%;
            display: block;
            
            width: 200px;
            margin-left: -100px;
            
            font-size: 32px;
            font-weight: 900;
            text-transform: uppercase;
            color: white;
            text-align: center;
        }
        
    }
    
    &.support .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-greentexture@2x.png) repeat;
        background-size: auto 118px, 32px auto;
    }
    
    &.oppose .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-redtexture@2x.png) repeat;
        background-size: auto 118px, 32px auto;
    }
    
    &.neutral .cause-indicator {
        span {
            top: 15px;
        }
    }
    
    &.dontknow .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-greytexture@2x.png) repeat;
        background-size: auto 118px, 32px auto;
    }
    
    .statement {
        margin-bottom: 16px;
        font-size: 22px;
    }
    
    .card {
        
        @include pie-clearfix;
        
        position: relative;
        
        padding: 14px 10px 16px;
        margin-bottom: 10px;
        
        border-top: 2px solid #ccc;
        
        background: white;
        
        h2 {
            display: block;
            width: 230px;
            font-size: 22px;
            font-weight: 500;
            color: #666;
            
            span {
                font-weight: 900;
                color: #333;
            }
        }
        
        &.minor {
            h2 {
                font-size: 18px;
            }
        }
        
        &:after {
            content: '';
            
            position: absolute;
            top: 0;
            right: 0;
            
            display: block;
            width: 30px;
            height: 30px;
            
            background: #ccc;
        }
        
        .chart {
            
            position: relative;
            
            height: 10px;
            width: 100%;
            margin-top: 16px;
            
            background: #C60033;
            
            
            .data {
            
                position: relative;
                width: 25%;
                height: 10px;
                background: #69BE28;
                
                &:after {
                    content: '';
                    position: absolute;
                    top: -1px;
                    right: 0;
                    display: block;
                    width: 1px;
                    height: 12px;
                    background: #333;
                }
                
            }
            
        }
        
        .causes {
            display: none;
        }
        
        &.open .causes {
            display: block; 
        }
        
    }
        
}