#mc-container-summary {

    margin: 0 10px;
    
    .cause-indicator {
        position: relative;
        height: 118px;
        margin: -1px -10px 21px;
        
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-bluetexture@2x.png) repeat;
        background-size: auto 118px, 32px auto;
        
        span {
            position: absolute;
            top: 40px;
            left: 50%;
            display: block;
            
            width: 200px;
            margin-left: -100px;
            
            font-size: 32px;
            font-weight: 900;
            text-transform: uppercase;
            color: white;
            text-align: center;
        }
        
    }
    
    &.support .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-greentexture@2x.png) repeat;
    }
    
    &.oppose .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-redtexture@2x.png) repeat;
    }
    
    &.neutral .cause-indicator {
        span {
            top: 15px;
        }
    }
    
    &.dontknow .cause-indicator {
        background: url(i/bg-cause-indicator.png) no-repeat, url(i/bg-greytexture@2x.png) repeat;
    }
    
    .statement {
        margin-bottom: 16px;
        font-size: 22px;
    }
        
}