#mc-topbar {
    
    position: fixed;
    top: 0;
    left: 0;

    height: 50px;
    width: 100%;
    background: url(i/bg-bluenoise.png);
    
    border-bottom: 1px solid #004199;
    
    h1 {
    
        display: block;
        padding-top: 10px;
        
        
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        color: white;
        @include text-shadow(-1px -1px 0 #19598F);
        
    }    
    
}