/** Colours **/

$body: #333;

/** Variables **/

$portraitwidth: 320;
$landscapewidth: 480;

$default-border-radius: 4px;

$default-text-shadow-color: black;
$default-text-shadow-blur: 0;
$default-text-shadow-v-offset: -1px;
$default-text-shadow-h-offset: -1px;

$default-margin: 10px;
$tall-margin: $default-margin*1.5;
$extra-margin: $default-margin*2;
$short-margin: $default-margin*0.5;

$sans-stack: "Proxima Nova", Helvetica, Arial, sans-serif;

html {
	visibility: visible !important;
	-webkit-text-size-adjust: none; /* Prevent all the font scaling */
}

* { 
    @include box-sizing(border-box);
    -webkit-touch-callout: none !important;
}

/** Mixins **/

@mixin hidetext {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


/** Elements **/

body {
    
    position: relative;
    font-family: $sans-stack;
    width: $portraitwidth * 1px;
    padding-top: 50px;
    padding-bottom: 86px;
    overflow: scroll;
    background: #eee;
    color: $body;
    
    &.search-open {
        padding-top: 112px;
    }
    
    @include transition(padding-top 250ms ease-out);
    
    .spinner {
        display: none;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -75px;
        left: 50%;
        width: 150px;
        height: 150px;
        margin-left: -75px;
        background: rgba(255,255,255,0.9) url(i/ajax-loader.gif) center no-repeat;
        @include border-radius(2px);
    }
    
}